
{{!-- <div class="container">
  <table class="table table-striped table-hover table-primary table-font">
    <thead>
      <tr>
        <th scope="col">Board #</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Length (in)</th>
        <th scope="col">Checked Out</th>
        <th scope="col">Damaged</th>
        <th scope="col">Fin Setup</th>
        <th scope="col">Fin #</th>
        <th scope="col">Current Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> --}}
  
<div class="container">
  <table class="table table-striped table-hover table-primary table-font">
    <thead>
      <tr>
        <th scope="col">Board #</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Length (in)</th>
        <th scope="col">Checked Out</th>
        <th scope="col">Damaged</th>
        <th scope="col">Fin Setup</th>
        <th scope="col">Fin #</th>
        <th scope="col">Current Location</th>
      </tr>
    <tbody>
      {{#each surfboards as |surfboard|}}
      <tr>
        <td>{{surfboard.board_num}}</td>
        <td>{{surfboard.brand}}</td>
        <td>{{surfboard.board_model}}</td>
        <td>{{surfboard.length_inch}}</td>
        <td>{{surfboard.checked_out}}</td>
        <td>{{surfboard.damaged}}</td>
        <td>{{surfboard.fin_setup}}</td>
        <td>{{surfboard.fin_count}}</td>
        <td>{{surfboard.location_id}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{!-- {{#each surfboards as |surfboard|}}





  <tr> class="dish col-md-5">
    <!-- We use dish.id instead of <od> and <li> elements. -->
    <p>
      {{surfboard.board_num}},
    </p>
  </div>
  <div class="col-md-7">
    <p>
    {{surfboard.brand}}
    </p>
  </div>
  {{/each}}

</div> --}}


{{!-- {{surfboard.brand}} --}}

<script src="./js/database.js"></script>