<section class="card">
  <a href="/surfboard/{{id}}">
    <header>{{brand}} {{board_model}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p> Board # : {{board_num}} </p>
      <p> Length: {{length_inch}} </p>
      <p> Located at : {{location_id}} </p>

    </div>
  </a>
</section>