<section class="d-flex mb-5 flex-row justify-content-around">
  {{#each locations as |location|}}
  <div class="card p-2 locationCards m-5" style="width: 400px;">
    <img class="card-img-top" src="./img/{{location.img}}" alt="Card image cap" width="400" height="300">
    <div class="card-body">
      <h3 class="card-title">{{location.city}}</h3>
      <p class="card-text"> Hours Of Operation: {{location.hours}}</p>
      <p class="card-text"> Street Address: {{location.address}}</p>
      <p class="card-text"> Phone Number: {{location.phonenumber}}</p>

      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>
{{/each}}

</section>

<section class="d-flex flex-row justify-content-center">
  <form class="text-center border border-light p-5 contactFormCard" style="width: 40rem" action="#!">
    <p class="h4 mb-4">Contact us</p>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Subject -->
    <label>Subject</label>
    <select class="browser-default custom-select mb-4">
      <option value="" disabled>Choose option</option>
      <option value="1" selected>Feedback/Comments</option>
      <option value="2">Surfboard Request</option>
    </select>

    <!-- Message -->
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
        placeholder="Message"></textarea>
    </div>

    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
      <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
      <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

  </form>
  <!-- Default form contact -->
</section>

<script src="./js/database.js"></script>