<div class="container container-fluid mt-5">
  <div class="d-flex container inventoryTable p-2 m-1 justify-content-center">
    <table id="boardTable" class="table table-striped table-hover table-primary table-font">
      <thead>
        <tr>
          <th scope="col">Board #</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">Length (in)</th>
          <th scope="col">Checked Out</th>
          <th scope="col">Damaged</th>
          <th scope="col">Fin Setup</th>
          <th scope="col">Fin #</th>
          <th scope="col">Current Location</th>
        </tr>
      <tbody>
        {{#each surfboards as |surfboard|}}
        <tr>
          <td>{{surfboard.board_num}}</td>
          <td>{{surfboard.brand}}</td>
          <td>{{surfboard.board_model}}</td>
          <td>{{surfboard.length_inch}}</td>
          <td>{{surfboard.checked_out}}</td>
          <td>{{surfboard.damaged}}</td>
          <td>{{surfboard.fin_setup}}</td>
          <td>{{surfboard.fin_count}}</td>
          <td>{{surfboard.location_id}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
<script src="./js/database.js"></script>